*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family: sans-serif;
}
body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: burlywood;
}
.container{
    width:400px;
    height:min-content;
    background-color: aliceblue;
    border-radius:12px;
    padding:28px;
}
.searchbox{
    width:100%;
    height:flex;
    justify-content:center;
    align-items:center;
}

.searchbox input{
    width:82%;
    font-size:20px;
    text-transform: capitalize;
    color: black;
    background-color:rgb(107, 174, 233);
    padding:12px 16px;
    border-radius:14px;
}

.searchbox input::placeholder{
    color: black;
}
.searchbox .button1{
    width:46px;
    height: 46px;
    background-color:rgb(107, 174, 233);
    border-radius:50%;
    cursor:pointer;
    font-size: 20px;
}


.searchbox .button1:hover{
    color: black;
    background-color: brown;
}